@mixin button--accent {
	//--- Box model
	padding: 8px 20px;

	//--- Typography
	text-decoration: none;
	color: $text-color;

	//--- Visual
	background-color: $accent;
	border-radius: 10px;
}

@mixin link--chevrone {
	&::after {
    //--- Box model
    margin-left: 18px;

    //--- Visual
    content: '\f054';

    //--- Typography
    font: var(--fa-font-solid);
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}