//--- COLORS
$bg:            #18181b;
$bg-header:     rgba(34, 34, 40, 0.8);
$text-color:    #ffffff;
$accent:        #79109d;
$gray:          #393942;

$active:        #9f2ec7;
$hover:           linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 48.88%, rgba(0, 0, 0, 0.48) 74.43%, rgba(0, 0, 0, 0.8) 100%);

//--- FONTS
$mainFont: 'Manrope', sans-serif;

	//--- Positioning
	//--- Box model
	//--- Typography
	//--- Visual
	//--- Misc