
//------ mobileMenuButton
.hamburger {
	//--- Positioning
	position: relative;

	//--- Box model
	display: block;
	width: 50px;
	padding: 0;

	//--- Visual
	appearance: none;
	background: none;
	outline: none;
	border: none;

	//--- Misc
	cursor: pointer;

  @include md-u {
    display: none;
  }
}

.hamburger .bar, .hamburger::after, .hamburger::before {
	//--- Box model
	display: block;
	width: 100%;
	height: 5px;
	margin: 10px 0;

	//--- Visual
	background-color: $text-color;
	content: '';

	//--- Misc
	transition: 0.4s;
}

.hamburger.is-active::before {
	transform: rotate(-45deg) translate(-30px, 6px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.hamburger.is-active::after {
	transform: rotate(45deg) translate(-30px, -6px);
}

//------ mobileMenuCanvas
.mobile-nav {
  //--- Positioning
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 98;

  //--- Box model
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  //--- Visual
  background-color: $gray;
  transition: 0.4s;

  @include md-u {
    display: none;
  }
}

.mobile-nav a {
  //--- Box model
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  
  //--- Typography
  text-align: center;
  color: $text-color;
  text-decoration: none;
  font-size: 65px;

  //--- Visual
  background-color: lighten($color: $gray, $amount: 10);
}

.mobile-nav.is-active {
  left: 0;
}