doctype html
html(lang="ru")
	// HEAD
	head
		include ./modules/_head.pug


		title Главная: Unite Gaming

	// BODY
	body
		include ./modules/_header.pug

		include ./modules/_hero.pug
		include ./modules/_goal.pug
		include ./modules/_products.pug
		include ./modules/_news.pug
		include ./modules/_socials.pug
		include ./modules/_other-services.pug

		include ./modules/_footer.pug

	script(src="../js/main.min.js") 


