section.bottom-nav
  ul.bottom-nav__list
    li.bottom-nav__item
      h3 Главная
      ul 
        li: a(href="#")  Партнеры
        li: a(href="#") Донат
        li: a(href="#") Сообщество
        li: a(href="#") Поддержка
        li: a(href="#") Рекламодателям

    li.bottom-nav__item
      h3 Наши продукты
      ul 
        li: a(href="#") Launcher для PC
        li: a(href="#") Launcher для Android
        li: a(href="#") TeamSpeak для PC
        li: a(href="#") Mumble для Android
        li: a(href="#") Покупка игр
    
    li.bottom-nav__item
      h3 Игры
      ul 
        li: a(href="#") Серверные игры
        li: a(href="#") Сетевые игры
        li: a(href="#") Одиночные игры
        li: a(href="#") Программы для игр
        li: a(href="#") Игры на Android

    li.bottom-nav__item
      h3 О компании
      ul 
        li: a(href="#") О нас
        li: a(href="#") Команда
        li: a(href="#") Культура
        li: a(href="#") Новости
        li: a(href="#") Карьера