footer.main-footer 
  a.main-footer__logo: img(src="../images/logo.svg", alt="Логотип компании Unit Gaming", width="92", height="55")
  
  ul.main-footer__text-list
    li.main-footer__text-item: a(href="#") Terms
    li.main-footer__text-item: a(href="#") Privacy
    li.main-footer__text-item: a(href="#") Cookies

  ul.main-footer__socials-list 
    li.main-footer__socials-item.tiktok: a(href="#") 
    li.main-footer__socials-item.instagram: a(href="#") 
    li.main-footer__socials-item.icq: a(href="#") 