section.goal 
  .goal__container 
    h2.goal__title Вместе развиваем игровую индустрию!
    p.goal__text Наша цель – создавать лучшие решения для комфортной игры с друзьями и другими игроками!
  .goal__bg-left 
  .goal__bg-right 