section.main-header 
  nav.main-header__nav 
    a(href="index.html")
      img(src="./images/logo.svg", alt="Логотип Unit Gaming", width="76", height="48")
    ul.nav-list
      li.nav-list__item: a(href="") Наши продукты
      li.nav-list__item: a(href="") Игры
      li.nav-list__item: a(href="") Донат
      li.nav-list__item: a(href="") О нас
      li.nav-list__item: a(href="") Партнёры
      li.nav-list__item: a(href="") Сообщество
      li.nav-list__item: a(href="") Поддержка
  button.lang-toggler: p RU 
  a.reg-link(href="#") Регистрация
  button.hamburger
    .bar