section.hero 
  .hero__about
    img.hero__logo(src="./images/logo.svg", alt="Логотип Unit Gaming", width="127", height="74")
    h1.hero__title Первая платформа для геймеров в Туркменистане!
    p.hero__text Пройди регистрацию, скачай лаунчер и комфортно играй в лучшие сетевые игры без пинга на PC и Android! 
    footer.hero__footer 
      a.hero__reg-link(href="#") Регистрация
      p.hero__footer-text Доступно:
      a(href="#"): img(src="./images/windows-app.svg", alt="Ссылка на приложение в Windows Store", width="24", height="24")
      a(href="#"): img(src="./images/android-app.svg", alt="Ссылка на приложение в Play Market", width="26", height="26")
      
  .hero__image
  .hero__bg 