nav.mobile-nav 
  ul.mobile-nav-list
      li.mobile-nav-list__item: a(href="") Наши продукты
      li.mobile-nav-list__item: a(href="") Игры
      li.mobile-nav-list__item: a(href="") Донат
      li.mobile-nav-list__item: a(href="") О нас
      li.mobile-nav-list__item: a(href="") Партнёры
      li.mobile-nav-list__item: a(href="") Сообщество
      li.mobile-nav-list__item: a(href="") Поддержка