section.news 
  h2.news__title Новости и мероприятия
  ul.news__list
    li.news__list-item 
      img(src="../images/modules/news/watchdogs-game.jpg", alt="Арт по игре Watch Dogs", width="310", height="268")
      p Игра дня
      h3 Watchdogs новый релиз
      time(datetime="16-01-2023") 16 Января 2023
  
    li.news__list-item 
      img(src="../images/modules/news/minecraft-game.jpg", alt="Арт по игре Watch Dogs", width="310", height="268")
      p Мероприятия
      h3 “Mine, Minecraft Fest 2023”
      time(datetime="16-01-2023") 16 Января 2023

    li.news__list-item 
      img(src="../images/modules/news/rust-game.jpg", alt="Арт по игре Watch Dogs", width="310", height="268")
      p Новости
      h3 Новый Ивент на Rust “Король Горы”
      time(datetime="16-01-2023") 16 Января 2023

  button.news__button Все новости