section.other-services 
  .other-services__header
    p.other-services__text--small-bold Новые блоки
    h2.other-services__title Другие услуги
    p.other-services__text--small Услуги, которые вам могут быть интересны

  ul.other-services__list 
    li.other-services__item.first
      .container
        h3 Steam, Epic Games, Battle.net
        p Поможем приобрести игры на популярных площадках
        a(href="#") Купить  игру
      .bg-steam 
      .bg-battlenet 
      .bg-epicgames 
      
    li.other-services__item.second
      .container
        h3 Наши партнёры
        p Скачивай игры или играй в Unite Gaming у партнеров
        a(href="#") Все партнёры
      .bg-first-pic 
      .bg-second-pic