section.products 
  .products__header 
    h2.products__title Наши продукты
    p.products__text--large Играйте на любимой платформе
    p.products__text Исследуй наши лучшие продукты и компьютерные игры для классного времяпровождения!
  
  ul.products__app-list
    li.products__app-item.products__app-item-pc
      h3 Unite Gaming Launcher для PC
      a(href="#") Скачать
      .bg-pc 
      .bg-laptop 
    li.products__app-item.products__app-item-phone
      h3 Unite Gaming Launcher для Android
      a(href="#") Скачать
      .bg-android--front
      .bg-android--behind

  ul.products__games-list 
    li.products__games-item.server-games
      h2 Серверные игры
      p Лучшие из лучших игр уже <br> на серверах Unite Gaming!
      a(href="#") Перейти к играм
      .bg__server-games
    li.products__games-item.popular-games
      h2 Популярные игры
      p Обожаемые всеми сетевые и одиночные игры на любой вкус!
      a(href="#") Перейти к библиотеке
      .bg__popular-games
    li.products__games-item.enter-club
      h2 Вступай в сообщество
      p Заводите знакомства, вступайте в группы, общайтесь и не только!
      a(href="#") Начать общаться
      .bg__enter-club

  ul.products__footer 
    li.products__footer-item
      p <b>2000+</b> <br> регистраций
    li.products__footer-item
      p <b>35+</b> <br> видеоигр
    li.products__footer-item
      p <b>20мс</b> <br> задержка
    li.products__footer-item
      p <b>Android и PC</b> <br> платформы