section.social-media 
  .social-media__header 
    h2.social-media__title Социальные сети
    p.social-media__header-text--large Будь в курсе всего!
    p.social-media__header-text--small Новости Unite Gaming в социальных сетях

  ul.social-media__list 
    li.social-media__item.instagram
      img(src="../images/modules/socials/instagram-logo.png", alt="Логотип Instagram", width="247", height="70")
      h3 Наш Instagram
      //- Пришлось сделать BG таким образом, так как макет был кривой и у меня не было к нему доступа.
      .instagram__bg 
        img(src="../images/modules/socials/bg-instagram-1.png", alt="На фото изображено приложение инстаграм, главная страница", width="429", height="295")
        img(src="../images/modules/socials/bg-instagram-2.png", alt="На фото изображено приложение инстаграм, лента прокручена чуть-чуть вниз", width="429", height="295")
        img(src="../images/modules/socials/bg-instagram-3.png", alt="На фото изображено приложение инстаграм, лента прокручена еще чуть-чуть вниз", width="429", height="295")
      a(href="#") Перейти

    li.social-media__item.icq
      img(src="../images/modules/socials/icq-logo.png", alt="Логотип ICQ", width="143", height="64")
      h3 Наш ICQ канал
      a(href="#") Перейти
      .icq__bg
